<section>
	<div>
		<h1>Describe your goal</h1>
	</div>
	<div >
		<span>I Want to...</span>
		<md-input-container class="input-full-width">
			<input mdInput placeholder="Name your habit" [(ngModel)]="goal.title">
		</md-input-container>
	</div>
	<div>
		<md-select class="input-full-width" placeholder="more or less" [(ngModel)]="goal.direction" name="direction">
			<md-option value="min">... a minimum of...</md-option>
			<md-option value="max">... a maximum of...</md-option>
		</md-select>
	</div>
	<div>
		<md-input-container class="input-full-width">
			<input mdInput placeholder="times" [(ngModel)]="goal.target" name="target">
		</md-input-container>
	</div>
	<div>
		<md-select placeholder="per" class="input-full-width" [(ngModel)]="goal.recurrence" name="recurrence">
			<md-option value="day">day</md-option>
			<md-option value="week">week</md-option>
			<md-option value="month">month</md-option>
		</md-select>
	</div>
	<div>
		<button md-raised-button (click)="save()" >Save</button>
	</div>
</section>
