#gt-wrapper {
	width: 100%;
	margin: 1em 0;

	overflow: hidden;
	
	.gt-progress {
		text-align: center;
		display: inline-block;
	}
	
	.right-button-col {
		text-align: right;
	}
	
	.gt-top {
		position: relative;
		
		.gt-title {
			position: relative;
			overflow: hidden;
			width: 100%;
			text-align: center;
			font-weight: bold;
			padding: 0 0 0 5px;
			color: #575757;
		}
		
		.gt-settings {
			position: absolute;
			right: 0;
			top: -0.8em;
		}
		
		.progress-indicator {
			height: 2em;
			background-color: #4CAF50;
			position: absolute;
			bottom: 0;
			left: 0;
			height: 100%;
			transition: width 0.25s ease-out;
			overflow: hidden;
			
			.gt-title {
				color: white;
				display: block;
				height: 2em;
				overflow: hidden;
				text-align: left;	
				white-space: pre;
			}
		}
	}
	
	.gt-bottom {
		.gt-middle {
			text-align: center;
			div {
				margin: auto;
				width: auto;
			}
			span { 
				font-size: 1.25em;
				padding: 3px 0 0 0;
				margin: auto 0;
				display: inline-block;
			}
		}
	}	
	
}