<td-layout #layout>
	<td-navigation-drawer sidenavTitle="Navigaiton">
		<md-nav-list>
			<ng-template let-item let-last="last" ngFor [ngForOf]="navElements">
				<a md-list-item (click)="layout.close()" routerLink="{{item.route}}" routerLinkActive="active">
					<md-icon>{{item.icon}}</md-icon><span>{{item.name}}</span>
				</a>
			</ng-template>
		</md-nav-list>
	</td-navigation-drawer>
	<td-layout-nav toolbarTitle="{{pageTitle}}">
		<div td-toolbar-content layout="row" layout-align="center center" flex>
			<span flex></span>
			<button md-icon-button [mdMenuTriggerFor]="notificationsMenu">
				<td-notification-count color="accent" [notifications]="12">
					<md-icon>notifications</md-icon>
				</td-notification-count>
			</button>
			<md-menu #notificationsMenu="mdMenu">
				<td-menu>
					<div td-menu-header class="md-subhead">Activity</div>
					<md-nav-list dense>
						<p md-line>Thing</p>
					</md-nav-list>
				</td-menu>
			</md-menu>
		</div>
		<router-outlet></router-outlet>
	</td-layout-nav>
</td-layout>