<td-layout #layout>
	<td-navigation-drawer sidenavTitle="Navigaiton">
		<md-nav-list>
			<a md-list-item (click)="layout.close()" routerLink="/home" routerLinkActive="active">
				<md-icon>home</md-icon><span>Home</span>
			</a>
			<a md-list-item (click)="layout.close()" routerLink="/stats" routerLinkActive="active">
				<md-icon>assessment</md-icon><span>Statistics</span>
			</a>
			<a md-list-item (click)="layout.close()" routerLink="/settings" routerLinkActive="active">
				<md-icon>settings</md-icon><span>Settings</span>
			</a>
			<a md-list-item (click)="logout(); layout.close();">
				<md-icon>eject</md-icon><span>Log Out</span>
			</a>
		</md-nav-list>
	</td-navigation-drawer>
	<td-layout-nav toolbarTitle="{{pageTitle}}">
		<div td-toolbar-content layout="row" layout-align="center center" flex>
			<span flex></span>
			<button md-icon-button [mdMenuTriggerFor]="notificationsMenu">
				<td-notification-count color="accent" [notifications]="12">
					<md-icon>notifications</md-icon>
				</td-notification-count>
			</button>
			<md-menu #notificationsMenu="mdMenu">
				<td-menu>
					<div td-menu-header class="md-subhead">Activity</div>
					<md-nav-list dense>
						<p md-line>Thing</p>
					</md-nav-list>
				</td-menu>
			</md-menu>
		</div>
		<router-outlet></router-outlet>
	</td-layout-nav>
</td-layout>