<ion-header >
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content class="home-page-content">
  <ion-card>
  	<ion-card-content>
  		<h1>My Goals</h1>
  		<si-goal-tracker [goal]="goal" *ngFor="let goal of goals | async"></si-goal-tracker>
  	</ion-card-content>

  	<button ion-button clear color="secondary" class="add-goal-button" (click)="openGoalSettings()">
  		<ion-icon name="add"></ion-icon>
  	</button>
  </ion-card>
</ion-content>